body {
	background-color:#EEEEEE;
	font-family: Courier New, Helvetiva, Arial;
}

#body.Week {
        display: block;
        background-color: #32e5df;
        padding: 50px;
        font-size: 30px;
 }

a {
	text-decoration:none;
	color:blue;
}

h1 , h2 , h3 {margin:0;}

#container{
	background-color:white;
	margin-left:auto;
	margin-right:auto;
}

#header {
	width:100%;
	background-image: url('file:///C:/Users/wehrfritzm/Fab-Academy-2017/Pictures/FabLab_crop.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
	background-color: #BDBDBD;
	font-family:Impact;
	text-shadow: 2px 2px #ffffff;
	font-weight: bold;
	color: #333399;
	text-align:center;
	padding:100px;
}

#navigation {
	float:top;
}

#navigation ul 
{	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow:hidden;
	background-color:#333399;
	width: 100%;
	/*position: fixed;*/
}
	

li {
    display: inline;
	float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*changes the color, while hovering the mouse and keeps color when active*/
li a:hover:not(.active) {
    background-color: #000066;
}
/*adds the class active*/
.active {
    background-color: #0066ff;
	font-weight:bold;
}
#navigation .selected {
	font-weight:bold;
}



#main{
	float:bottom;
	
}

#footer{
	clear:both;
	padding: 10px 10px 10px 10px;
	background-color: #999999;
	text-color:white;
	text-align:right;
}